
@keyframes falldown {
    from {
        transform: translate(0, -100vh);
    }

    to {
        transform: translate(0, 0);
    }
}

.login {
    max-width: 500px;
}

.recipe-card > img {
    height: 300px;
    object-fit: cover;
}

.new-recipe {
    max-width: 700px;
}

.recipe-card {
    /* transform: translate(0, -400px); */
    display: none;
}

.recipe-card.animate {
    display: block;
    animation: falldown 3s;
}